<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Authentication stuffs -->
    <add key="APITokenURL" value="https://login.microsoftonline.com/f610c0b7-bd24-4b39-810b-3dc280afb590/oauth2/v2.0/token" />
    <add key="EMS2ClientId" value="877daf5c-6329-4612-9026-abce07ae5895" />
    <add key="EMS2ClientSecret" value="yx7tRaSI6h%7EL4yjGShbsp.%7E52gL.ze1H_6" />
    <add key="EMS2Scope" value="75deca06-ae07-4765-85c0-23e719062833/.default" />
    <add key="WriteToLogFile" value="true" />
    <!--EMRS API URL's-->
    <add key="EMRSRootURL" value="https://portal-test.who.int" />
    <add key="ReferenceDataAPI" value="/ems-core-api/api/referenceData/items" />
    <add key="OccurrenceAPI" value="/ems-core-api/api/occurrence" />
    <add key="UsersAPI" value="/ems-core-api/api/users" />
    <!--Database connections-->
    <add key="vShocDbConnection" value="Data Source=SSDB110.who.int;Initial Catalog=wedb_7;User ID=VSHOC_admin;Password=W&amp;8eOC.4dM!n" />
    <add key="EMSDbConnection" value="Data Source=ssdb102.who.int;Initial Catalog=EMS_Main;Integrated Security=SSPI;" />
    <!--GraphAPI Params -->
    <add key="EMSClientId" value="f1883f37-e7df-4e6b-9df9-24cbcb45ab48" />
    <add key="EMSClientSecret" value="m91R%7EhjY%7E38KX7lDKUM%7EMWlBzO_a6.CSz5" />
    <add key="GraphAPITokenURL" value="https://login.microsoftonline.com/f610c0b7-bd24-4b39-810b-3dc280afb590/oauth2/v2.0/token" />
    <add key="GraphAPIScope" value="https://graph.microsoft.com/.default" />
    <add key="FromEmailAddress" value="shoc@who.int" />
    <add key="ToEmailAddress" value="akkig@who.int" />
    <add key="ccList" value="akkig@who.int" />
    <add key="DebugMode" value="false" />
    <add key="DebugFileLocation" value="D:\PushToEMRS\DebugEmail\" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>